.selectedItem,
.unselectedItem {
    border-radius: 10px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    float: left;
    margin-right: 5px;
    position: relative;
}

.selectedItem {
    background-color: lightgray;
    border: 2px solid lightgray;
    width: 30px;
    height: 30px;
}

.floatRight {
    float: right;
    background-color: white;
    border: 2px solid white;
}

.unselectedItem:hover {
    background-color: lightgray;
    border: 2px solid lightgray;
}

.selectedItem:hover {
    background-color: lightgray;
    border: 2px solid lightblue;
}

.unselectedItem:active {
    background-color: #AAAAAA;
    border: 2px solid #AAAAAA;
}

.selectedItem:active {
    background-color: #AAAAAA;
    border: 2px solid lightblue;
}




.icon {
    height: 90%;
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
}

.noDisabledOverlay,
.disabledOverlay {
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    background-color: #00000044;
    border-radius: 10px;
}

.noDisabledOverlay {
    visibility: hidden;
}

.disabledOverlay {
    visibility: visible;
}